Since we have giant exel data set with different info in different sheet, I'm going to reshape it so that we have one hunge long data set

In [1]:
import pandas as pd

In [10]:

file_path = 'data/Total_Commuting_data.xlsx'
all_sheets = pd.ExcelFile(file_path)

In [11]:
flag_sheets = {f"Flags {i}" for i in range(1, 126)}

In [13]:
#Alright... looks like first we need to get rid of some rows...
# or first get rid of two sheets we don't need
exclude = {"summary", "structure"}
exclude.update(flag_sheets)

In [14]:
# Here I got removed first 12 rows and set a new header. 
cleaned_sheets = {}


for sheet_name in all_sheets.sheet_names:
    if sheet_name.strip().lower() in {s.lower() for s in exclude}:
        continue

   
    df = pd.read_excel(all_sheets, sheet_name=sheet_name)
    df = df.iloc[11:].reset_index(drop=True)     
    df.columns = df.iloc[0]                      
    df = df[1:].reset_index(drop=True)           

    cleaned_sheets[sheet_name] = df

In [15]:
# test
sheet = list(cleaned_sheets.keys())[0]
print(f"Sheet: {sheet}")
print(cleaned_sheets[sheet].head())

Sheet: Sheet 1
0                          DURATION (Labels) Zero minutes From 1 to 9 minutes  \
0                               GEO (Labels)          NaN                 NaN
1  European Union - 27 countries (from 2020)       1557.9              6886.3
2  European Union - 28 countries (2013-2020)       1949.7              8129.9
3      Euro area - 19 countries  (2015-2022)       1110.2              5702.9
4                                    Belgium         78.9               143.8

0 From 1 to 14 minutes 1 minute or over From 10 to 14 minutes  \
0                  NaN              NaN                   NaN
1              14664.7          53090.2                7778.4
2              17410.8          63729.1                9280.9
3              11771.6          39982.3                6068.8
4                330.2           1432.6                 186.4

0 From 15 to 19 minutes From 15 to 29 minutes From 20 to 29 minutes  \
0                   NaN                   NaN                   NaN
1                7862.6               18562.9               10700.2
2                9124.7               21809.4               12684.7
3                5811.3                 13754                7942.8
4                 213.9                 510.6                 296.7

0 From 30 to 44 minutes From 30 to 59 minutes 30 minutes or over  \
0                   NaN                   NaN                NaN
1               11966.1               15358.3            19862.6
2               14321.9               18591.9            24508.9
3                8457.4               10989.8            14456.6
4                 313.5                 435.2              591.7

0 From 45 to 59 minutes 60 minutes or over No response
0                   NaN                NaN         NaN
1                3392.2             4504.3      2527.7
2                4270.1               5917      2781.1
3                2532.4             3466.8      1789.4
4                 121.6              156.5         6.2

In [44]:
education_levels = {
    "All ISCED 2011 levels": [
        *range(1, 6), *range(26, 31), *range(51, 56), *range(76, 81), *range(101, 106)
    ],
    "ISCED 0–2": [
        *range(6, 11), *range(31, 36), *range(56, 61), *range(81, 86), *range(106, 111)
    ],
    "ISCED 3–4": [
        *range(11, 16), *range(36, 41), *range(61, 66), *range(86, 91), *range(111, 116)
    ],
    "ISCED 5–8": [
        *range(16, 21), *range(41, 46), *range(66, 71), *range(91, 96), *range(116, 121)
    ],
    "No response": [
        *range(21, 26), *range(46, 51), *range(71, 76), *range(96, 101), *range(121, 126)
    ],
}

degree_of_urbanisation = {
    "Total": list(range(1, 26)),
    "Cities": list(range(26, 51)),
    "Towns and suburbs": list(range(51, 76)),
    "Rural areas": list(range(76, 101)),
    "No response": list(range(101, 126)),
}

age_class = {
    "From 15 to 34 years": [1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96, 101, 106, 111, 116, 121],
    "From 15 to 74 years": [2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97, 102, 107, 112, 117, 122],
    "From 20 to 64 years": [3, 8, 13, 18, 23, 28, 33, 38, 43, 48, 53, 58, 63, 68, 73, 78, 83, 88, 93, 98, 103, 108, 113, 118, 123],
    "From 35 to 49 years": [4, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84, 89, 94, 99, 104, 109, 114, 119, 124],
    "From 50 to 74 years": [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125],
}

In [45]:
def lookup_category(index, mapping):
    for label, index_list in mapping.items():
        if index in index_list:
            return label
    return None

In [ ]:
# then I'll write a for loop to add these columns to each sheet

In [ ]:
# then I'll combine them all into one or maybe not... or leave it seperate so everyone can combine them the way they want and save as a new exel file, or even better csv

In [46]:
import re

def extract_sheet_number(name):
    match = re.search(r'\d+', name)
    return int(match.group()) if match else None

In [53]:

final_sheets = []

for sheet_name in sorted_sheet_names:
    df = cleaned_sheets[sheet_name].copy()
    
    idx = extract_sheet_number(sheet_name)

    df["sheet_name"] = sheet_name
    
    df["education_level"] = lookup_category(idx, education_levels)
    df["urbanisation_degree"] = lookup_category(idx, degree_of_urbanisation)
    df["age_class"] = lookup_category(idx, age_class)
    
    final_sheets.append(df)

In [57]:
print(final_sheets[115].head())

0                          DURATION (Labels) Zero minutes From 1 to 9 minutes  \
0                               GEO (Labels)          NaN                 NaN
1  European Union - 27 countries (from 2020)            :                   :
2  European Union - 28 countries (2013-2020)            :                   :
3      Euro area - 19 countries  (2015-2022)            :                   :
4                                    Belgium            :                   :

0 From 1 to 14 minutes 1 minute or over From 10 to 14 minutes  \
0                  NaN              NaN                   NaN
1                    :                :                     :
2                    :                :                     :
3                    :                :                     :
4                    :                :                     :

0 From 15 to 19 minutes From 15 to 29 minutes From 20 to 29 minutes  \
0                   NaN                   NaN                   NaN
1                     :                     :                     :
2                     :                     :                     :
3                     :                     :                     :
4                     :                     :                     :

0 From 30 to 44 minutes From 30 to 59 minutes 30 minutes or over  \
0                   NaN                   NaN                NaN
1                     :                     :                  :
2                     :                     :                  :
3                     :                     :                  :
4                     :                     :                  :

0 From 45 to 59 minutes 60 minutes or over No response sheet_name  \
0                   NaN                NaN         NaN  Sheet 116
1                     :                  :           :  Sheet 116
2                     :                  :           :  Sheet 116
3                     :                  :           :  Sheet 116
4                     :                  :           :  Sheet 116

0 education_level urbanisation_degree            age_class
0       ISCED 5–8         No response  From 15 to 34 years
1       ISCED 5–8         No response  From 15 to 34 years
2       ISCED 5–8         No response  From 15 to 34 years
3       ISCED 5–8         No response  From 15 to 34 years
4       ISCED 5–8         No response  From 15 to 34 years

In [43]:
print(f"Sheet: {sheet_name}, Index: {idx}, Education: {df['education_level'].iloc[0]}, Urbanisation: {df['urbanisation_degree'].iloc[0]}")

Sheet: Sheet 125, Index: 125, Education: None, Urbanisation: None

In [58]:
# Combine all sheets into one DataFrame
combined_df = pd.concat(final_sheets, ignore_index=True)

In [59]:
combined_df.to_excel("combined_commuting_data.xlsx", index=False)

In [61]:
combined_df = combined_df[
    ~combined_df.iloc[:, 0].isin(["GEO (Labels)", "Special value", ":"])
].reset_index(drop=True)

In [62]:
combined_df = combined_df.rename(columns={"DURATION (Labels)": "Region"})

In [63]:
print(combined_df.columns.tolist())

['Region', 'Zero minutes', 'From 1 to 9 minutes', 'From 1 to 14 minutes', '1 minute or over', 'From 10 to 14 minutes', 'From 15 to 19 minutes', 'From 15 to 29 minutes', 'From 20 to 29 minutes', 'From 30 to 44 minutes', 'From 30 to 59 minutes', '30 minutes or over', 'From 45 to 59 minutes', '60 minutes or over', 'No response', 'sheet_name', 'education_level', 'urbanisation_degree', 'age_class']

In [64]:
combined_df.to_excel("cleaned_commuting_data.xlsx", index=False)

In [65]:
combined_df.to_csv("cleaned_commuting_data.csv", index=False)