# SQL with Python üêç

## Objectives

1. SQLAlchemy
2. Create a database connection (engine)
3. Run SQL statements
4. Reading and Writing tables with pandas
5. Creating Databases

# 1. SQLAlchemy üêç

SQLAlchemy provides tools for managing connections to a database, interacting with database queries and results, and construction of SQL statements in Python.

concept  |  description
---|---|
`sqlalchemy`      | high-level python library for managing all kinds of relational databases
`psycopg2`      |   low-level python library that actually manages the communication with a PostgreSQL DB
`create_engine()`      |   creates an `engine` that manages a conncetion to a DB
`'postgresql://<user>:<password>@<host>/<db>'` | the url, a string that contains all information needed to connect to a DB
`with engine.begin() as conn` | opens a database connection to read or write data
`conn.execute()` | submit arbitrary SQL statements to a DB
`df.to_sql(tablename, engine)` | write a pandas DataFrame into a table of a database
`pd.read_sql(tablename,engine)` | read a table as a DataFrame

https://www.sqlalchemy.org/

https://www.psycopg.org/docs/install.html

https://docs.sqlalchemy.org/en/14/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2

https://pypi.org/project/python-dotenv/

# 2. Create a database connection üîåüè¶

To access your database, SQLAlchemy needs a connection string. Connection strings consist of six parts:

part | description | default value
--- | --- | ---
dialect | The dialect/ flavour of the relational database | ...
host | IP address or name of the database server machine | localhost
port | network port on the host machine | 5432
database | the name of your database | postgres
user | the user name of the PostgreSQL Server | postgres
password | the password of the database user | ...

In [1]:
import pandas as pd
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

### A ``connection string`` for postgresql could look like this:

```python
url = '<dialect>://<user>:<password>@<host>:<port>/<database>'
```

In [2]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

In [3]:
# Now building the URL with the values from the .env file

url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

# without specifying the schema default connection is to the schema `public`
# url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'

In [4]:
url

'postgresql://oliviamuehlbauer:9DzmmbpwfsTb5SfV@data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/nf_da_270525'

### With a connection string we can create an ``engine``:

In [5]:
pg_db

'nf_da_270525'

In [6]:
engine = create_engine(url, echo=False) # echo- shows backup

The engine object manages connections to the database. It can be used to open new connections or to handle several connections at once.

In [7]:
# check your URL

engine.url # password is hidden

postgresql://oliviamuehlbauer:***@data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/nf_da_270525

### Logging

`sqlalchemy` and `psycopg2` translate python statements into SQL commands that a database server can understand.  
When creating the engine, you can set `echo=True` to print out all the raw SQL queries that are actually sent to the server in the background and are usually hidden from the Python programmer!

### Schema: 

because we use different schemas, we need to specify in which schema to search for the table

**Option 1** - using search_path parameter:
>```sql
>SET search_path TO your_schema;  
>```
**Option 2** - associating the table with the schema directly:
>```sql
>SELECT * FROM your_schema.students;
>```

<br>

<details>
<summary><b> SIDEBAR:</b> What is <code>search_path</code>?</summary>

In PostgreSQL, the <code>search_path</code> is a configuration parameter that determines the order in which schemas are searched when an object (like a table or function) is referenced by a simple, unqualified name.

**Links:**
- https://www.commandprompt.com/education/postgresql-schema-search-path/
- https://www.postgresql.org/docs/current/ddl-schemas.html#DDL-SCHEMAS-PATH

</details>

In [8]:
my_schema = 'team_2' # update it to your schema

with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {my_schema};'))

# 3. Run SQL statements üîß‚úèÔ∏èüìö

The list of rows can then be converted into a `pd.DataFrame`:

# 4. Reading üìö and Writing ‚úèÔ∏è tables with pandas üêº

Pandas has some built-in tools to directly read data from a database into a DataFrame:

#### With a one-liner, you can also import new data into the database:

In [ ]:
# Drop the table manually if it exists
#with engine.connect() as connection:
    #connection.execute(text("DROP TABLE IF EXISTS student_scores"))

In [ ]:
df_home_office = pd.read_excel("C:\Users\Olivia\Documents\Weiterbildung\Learning Material\Sus Tainability\Who_Loses_when_HO_ends_project\Home_Office_all_sheets_english.xlsx")

In [24]:
student_scores.to_sql('student_scores', engine, if_exists='replace',index=True)

2025-07-10 10:39:55,967 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-10 10:39:55,999 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-07-10 10:39:56,003 INFO sqlalchemy.engine.Engine [cached since 99.99s ago] {'table_name': 'student_scores', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-07-10 10:39:56,071 INFO sqlalchemy.engine.Engine
CREATE TABLE student_scores (
	student_id BIGINT,
	student_name TEXT,
	email TEXT,
	seminar_name TEXT,
	grade FLOAT(53)
)


2025-07-10 10:39:56,075 INFO sqlalchemy.engine.Engine [no key 0.00391s] {}
2025-07-10 10:39:56,117 INFO sqlalchemy.engine.Engine CREATE INDEX ix_student_scores_student_id ON student_scores (student_id)
2025-07-10 10:39:56,120 INFO sqlalchemy.engine.Engine [no key 0.00348s] {}
2025-07-10 10:39:56,191 INFO sqlalchemy.engine.Engine INSERT INTO student_scores (student_id, student_name, email, seminar_name, grade) VALUES (%(student_id__0)s, %(student_name__0)s, %(email__0)s, %(seminar_name__0)s, %(grade__0)s), (%(student_id__1)s, %(student_name__1)s, %(email__1)s, %(seminar_name__1)s, %(grade__1)s), (%(student_id__2)s, %(student_name__2)s, %(email__2)s, %(seminar_name__2)s, %(grade__2)s), (%(student_id__3)s, %(student_name__3)s, %(email__3)s, %(seminar_name__3)s, %(grade__3)s)
2025-07-10 10:39:56,196 INFO sqlalchemy.engine.Engine [generated in 0.00071s (insertmanyvalues) 1/1 (unordered)] {'seminar_name__0': 'politics', 'student_id__0': 1, 'student_name__0': 'Anna', 'grade__0': 3.5, 'email__0': 'anna@gmail.com', 'seminar_name__1': 'ethics', 'student_id__1': 2, 'student_name__1': 'Joseph', 'grade__1': 1.0, 'email__1': 'joseph@gmail.com', 'seminar_name__2': 'engineering', 'student_id__2': 4, 'student_name__2': 'Liam', 'grade__2': 2.1, 'email__2': 'liam@gmail.com', 'seminar_name__3': 'art', 'student_id__3': 5, 'student_name__3': 'Elif', 'grade__3': 1.3, 'email__3': 'elif@gmail.com'}
2025-07-10 10:39:56,229 INFO sqlalchemy.engine.Engine COMMIT

4

>#### Check your Schema in DBeaver for changes

In the background, this creates a new table with column definitions and inserts the data into the table.   
>**Note:** Check the data type of the columns. For example the last column `grade` is currently a **float8**

To get more control over the data types of the table 
you can run a `CREATE TABLE` statement before inserting data with pandas:

In [25]:
with engine.begin() as conn:
    conn.execute(text("DROP TABLE IF EXISTS student_grades;"))
    conn.execute(text("""
                        CREATE TABLE student_grades (
                                                    student_id INT,
                                                    student_name VARCHAR,
                                                    email VARCHAR,
                                                    seminar_name VARCHAR,
                                                    grade NUMERIC
                                                    );
                        """))
    student_scores.to_sql('student_grades', conn, if_exists='append', index='student_id') 
    # here we use the variable `conn` as this line is stil indented under the `with engine.begin() as conn`statement and is using the open connection to db.

2025-07-10 10:43:09,454 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-10 10:43:09,457 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS student_grades;
2025-07-10 10:43:09,462 INFO sqlalchemy.engine.Engine [generated in 0.00495s] {}
2025-07-10 10:43:09,525 INFO sqlalchemy.engine.Engine
                        CREATE TABLE student_grades (
                                                    student_id INT,
                                                    student_name VARCHAR,
                                                    email VARCHAR,
                                                    seminar_name VARCHAR,
                                                    grade NUMERIC
                                                    );

2025-07-10 10:43:09,527 INFO sqlalchemy.engine.Engine [generated in 0.00310s] {}
2025-07-10 10:43:09,560 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-07-10 10:43:09,563 INFO sqlalchemy.engine.Engine [cached since 293.5s ago] {'table_name': 'student_grades', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-07-10 10:43:09,603 INFO sqlalchemy.engine.Engine INSERT INTO student_grades (student_id, student_name, email, seminar_name, grade) VALUES (%(student_id__0)s, %(student_name__0)s, %(email__0)s, %(seminar_name__0)s, %(grade__0)s), (%(student_id__1)s, %(student_name__1)s, %(email__1)s, %(seminar_name__1)s, %(grade__1)s), (%(student_id__2)s, %(student_name__2)s, %(email__2)s, %(seminar_name__2)s, %(grade__2)s), (%(student_id__3)s, %(student_name__3)s, %(email__3)s, %(seminar_name__3)s, %(grade__3)s)
2025-07-10 10:43:09,605 INFO sqlalchemy.engine.Engine [generated in 0.00028s (insertmanyvalues) 1/1 (unordered)] {'seminar_name__0': 'politics', 'student_id__0': 1, 'student_name__0': 'Anna', 'grade__0': 3.5, 'email__0': 'anna@gmail.com', 'seminar_name__1': 'ethics', 'student_id__1': 2, 'student_name__1': 'Joseph', 'grade__1': 1.0, 'email__1': 'joseph@gmail.com', 'seminar_name__2': 'engineering', 'student_id__2': 4, 'student_name__2': 'Liam', 'grade__2': 2.1, 'email__2': 'liam@gmail.com', 'seminar_name__3': 'art', 'student_id__3': 5, 'student_name__3': 'Elif', 'grade__3': 1.3, 'email__3': 'elif@gmail.com'}
2025-07-10 10:43:09,634 INFO sqlalchemy.engine.Engine COMMIT

> check now in DBeaver the data type of the columns.

or we can define a **dictionary** with the data types and pass it to the pandas `.to_sql()` method. In this case would use the `engine` directly as we are not opening a connection within a `WITH` statement.

> ### Refresh the database in DBeaver.