In [2]:
import pandas as pd
import numpy as np

# Data cleaning

The big dataset has some issues:

- possible white space in stings
- Date and floats are stored as strings
- Null values are actually stored as :
- Numberical values are stored as string

In [ ]:
df = pd.read_excel("Home_Office_all_sheets_english.xlsx")

In [4]:
df.head()

,region,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,gender,age_group,children
0,European_Union_27_countries_from_2020,4.5,4.6,4.6,4.7,5.3,10.3,12.4,11.1,10.4,10,total,18-24,total
1,Euro_area_20_countries_2015-2022,4.5,4.3,4.6,4.7,5.3,11.1,13.7,12.3,11,10.7,total,18-24,total
2,Belgium,8.9,8.6,9.3,9.6,10.3,13.3,16,11.9,11.3,11.2,total,18-24,total
3,Bulgaria,:,:,:,:,:,:,:,:,:,:,total,18-24,total
4,Czechia,2.7,2.8,3.5,3.9,4.3,4.8,7.3,6.5,10.2,8.4,total,18-24,total

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3780 entries, 0 to 3779
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     3780 non-null   object
 1   2015       3780 non-null   object
 2   2016       3780 non-null   object
 3   2017       3780 non-null   object
 4   2018       3780 non-null   object
 5   2019       3780 non-null   object
 6   2020       3780 non-null   object
 7   2021       3780 non-null   object
 8   2022       3780 non-null   object
 9   2023       3780 non-null   object
 10  2024       3780 non-null   object
 11  gender     3780 non-null   object
 12  age_group  3780 non-null   object
 13  children   3780 non-null   object
dtypes: object(14)
memory usage: 413.6+ KB

In [5]:
# strip all white space from fields

df = df.astype(str).apply(lambda x: x.str.strip())

In [8]:
# create null values out of : if the previous code does not work

df = df.replace(to_replace=':.*', value=np.nan, regex=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3780 entries, 0 to 3779
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     3780 non-null   object
 1   2015       2849 non-null   object
 2   2016       2877 non-null   object
 3   2017       2917 non-null   object
 4   2018       2917 non-null   object
 5   2019       2957 non-null   object
 6   2020       2874 non-null   object
 7   2021       3029 non-null   object
 8   2022       2994 non-null   object
 9   2023       2983 non-null   object
 10  2024       2876 non-null   object
 11  gender     3780 non-null   object
 12  age_group  3780 non-null   object
 13  children   3780 non-null   object
dtypes: object(14)
memory usage: 413.6+ KB

In [10]:
# check for missing values

df.isna().sum()

region         0
2015         931
2016         903
2017         863
2018         863
2019         823
2020         906
2021         751
2022         786
2023         797
2024         904
gender         0
age_group      0
children       0
dtype: int64

In [11]:
# reseting index after droping useless rows

df.reset_index(drop=True, inplace=True)

In [12]:
df.head()

,region,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,gender,age_group,children
0,European_Union_27_countries_from_2020,4.5,4.6,4.6,4.7,5.3,10.3,12.4,11.1,10.4,10,total,18-24,total
1,Euro_area_20_countries_2015-2022,4.5,4.3,4.6,4.7,5.3,11.1,13.7,12.3,11,10.7,total,18-24,total
2,Belgium,8.9,8.6,9.3,9.6,10.3,13.3,16,11.9,11.3,11.2,total,18-24,total
3,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,total,18-24,total
4,Czechia,2.7,2.8,3.5,3.9,4.3,4.8,7.3,6.5,10.2,8.4,total,18-24,total

In [ ]:
# List of columns to convert
columns_to_convert = ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

#Loop and convert each column to a float
for col in columns_to_convert:
    df[col] = df[col].astype(float)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3780 entries, 0 to 3779
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     3780 non-null   object
 1   2015       2849 non-null   float64
 2   2016       2877 non-null   float64
 3   2017       2917 non-null   float64
 4   2018       2917 non-null   float64
 5   2019       2957 non-null   float64
 6   2020       2874 non-null   float64
 7   2021       3029 non-null   float64
 8   2022       2994 non-null   float64
 9   2023       2983 non-null   float64
 10  2024       2876 non-null   float64
 11  gender     3780 non-null   object
 12  age_group  3780 non-null   object
 13  children   3780 non-null   object
dtypes: float64(10), object(4)
memory usage: 413.6+ KB

In [29]:
df.to_csv('all_home_office_clean_wna.csv', index=False)

# Undestanding NA values (under cosntruction!!)

- Check where do most of the NA values occur
- Delete countries with most NA values
- Fill in the data if NA values occur less than 4 times (using the average)

In [19]:
# where do more than 9 na values occur? These rows mean they are completely useless (no data for that perticular year for that country)
useless_ho_data = df[df.isnull().sum(axis=1) > 9]

In [20]:
useless_ho_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, 3 to 3777
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   region     386 non-null    object
 1   2015       0 non-null      float64
 2   2016       0 non-null      float64
 3   2017       0 non-null      float64
 4   2018       0 non-null      float64
 5   2019       0 non-null      float64
 6   2020       0 non-null      float64
 7   2021       0 non-null      float64
 8   2022       0 non-null      float64
 9   2023       0 non-null      float64
 10  2024       0 non-null      float64
 11  gender     386 non-null    object
 12  age_group  386 non-null    object
 13  children   386 non-null    object
dtypes: float64(10), object(4)
memory usage: 45.2+ KB

In [ ]:
useless_ho_data['region'].unique()

array(['Bulgaria', 'Montenegro', 'Greece', 'Cyprus', 'Hungary', 'Romania',
       'Slovakia', 'North Macedonia', 'Belgium', 'Denmark', 'Germany',
       'Estonia', 'Ireland', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Austria', 'Portugal', 'Slovenia', 'Finland', 'Sweden', 'Norway',
       'Bosnia and Herzegovina', 'Czechia', 'Croatia', 'Italy', 'Poland',
       'United Kingdom', 'Serbia',
       'European_Union_27_countries_from_2020',
       'Euro_area_20_countries_2015-2022', 'Spain', 'Netherlands'],
      dtype=object)

In [27]:
print(df['region'].value_counts())

region
European_Union_27_countries_from_2020    105
Euro_area_20_countries_2015-2022         105
Netherlands                              105
Austria                                  105
Poland                                   105
Portugal                                 105
Romania                                  105
Slovenia                                 105
Slovakia                                 105
Finland                                  105
Sweden                                   105
Norway                                   105
United Kingdom                           105
Bosnia and Herzegovina                   105
Montenegro                               105
North Macedonia                          105
Serbia                                   105
Malta                                    105
Hungary                                  105
Luxembourg                               105
Ireland                                  105
Belgium                                  105
Bulgaria                                 105
Czechia                                  105
Denmark                                  105
Germany                                  105
Estonia                                  105
Greece                                   105
Lithuania                                105
Spain                                    105
France                                   105
Croatia                                  105
Italy                                    105
Cyprus                                   105
Latvia                                   105
Türkiye                                  105
Name: count, dtype: int64

In [26]:
print(useless_ho_data['region'].value_counts())

region
Bulgaria                                 39
Romania                                  24
Montenegro                               23
Cyprus                                   17
Slovakia                                 17
Lithuania                                16
Malta                                    16
Hungary                                  15
North Macedonia                          15
Latvia                                   15
Luxembourg                               14
Greece                                   13
Estonia                                  13
Ireland                                  12
Finland                                  12
Belgium                                  11
Slovenia                                 11
Portugal                                 10
Austria                                  10
Germany                                   9
Denmark                                   9
Norway                                    8
Sweden                                    7
Bosnia and Herzegovina                    7
Croatia                                   7
Poland                                    7
Italy                                     6
Czechia                                   5
United Kingdom                            5
Serbia                                    5
European_Union_27_countries_from_2020     2
Euro_area_20_countries_2015-2022          2
Spain                                     2
Netherlands                               2
Name: count, dtype: int64

In [25]:
# explore useless data
df_bulgaria = useless_ho_data[useless_ho_data['region'] == 'Bulgaria']
result_df_bulgaria = df_bulgaria.groupby(['gender', 'age_group', 'children']).size().reset_index(name='count')
print(result_df_bulgaria)

    gender age_group children  count
0   female       18+       3+      1
1   female     18-24        0      1
2   female     18-24        1      1
3   female     18-24        2      1
4   female     18-24       3+      1
5   female     18-24    total      1
6   female     18-64       3+      1
7   female     20-49       3+      1
8   female     25-49       3+      1
9   female     25-54       3+      1
10  female       55+        1      1
11  female       55+        2      1
12  female       55+       3+      1
13    male       18+       3+      1
14    male     18-24        0      1
15    male     18-24        1      1
16    male     18-24        2      1
17    male     18-24       3+      1
18    male     18-24    total      1
19    male     18-64       3+      1
20    male     20-49       3+      1
21    male     25-49       3+      1
22    male     25-54       3+      1
23    male       55+        1      1
24    male       55+        2      1
25    male       55+       3+      1
26   total       18+       3+      1
27   total     18-24        0      1
28   total     18-24        1      1
29   total     18-24        2      1
30   total     18-24       3+      1
31   total     18-24    total      1
32   total     18-64       3+      1
33   total     20-49       3+      1
34   total     25-49       3+      1
35   total     25-54       3+      1
36   total       55+        1      1
37   total       55+        2      1
38   total       55+       3+      1

# Ovelapping dimensions

Age dimensions are overlapping, e.g. "18-24" and "18-64"

To make it managable I am suggesting storing it in different df by the level of granularity.

In [28]:
df['age_group'].unique()

array(['18-24', '18-64', '18+', '20-49', '25-49', '25-54', '55+'],
      dtype=object)

In [ ]:
#granular_labels = ['0','1-9', '10-14', '15-19', '20-29', '30-44', '45-59', '60+', 'No_response']

#medium_labels = ['0', '1-14', '15-29', '30-59', '60+', 'No_response']

#broad_labels = ['0', '1+', '30+', '60+', 'No_response']

In [ ]:
granular_labels_drop = ['1-14', '15-29', '30-59', '1+', '30+']

medium_labels_drop = ['1-9', '10-14', '15-19', '20-29', '30-44', '45-59','1+', '30+',]

broad_labels_drop = ['1-9', '10-14', '15-19', '20-29', '30-44', '45-59', '1-14', '15-29', '30-59']

In [ ]:
df_granular = df.copy()
df_granular.drop(columns = granular_labels_drop, inplace=True)

In [ ]:
df_medium = df.copy()
df_medium.drop(columns = medium_labels_drop, inplace=True)

In [ ]:
df_broad = df.copy()
df_broad.drop(columns = broad_labels_drop, inplace=True)